type: "MARKDOWN_NOTE"
folder: "07aeb699a4a9291d86b3"
title: "prueba de nota"
content: '''
  # prueba de nota
   
  ```
  SELCT * FROM DUAL;
  ```
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-29T11:40:03.884Z"
updatedAt: "2017-10-29T11:41:23.684Z"
